{
    "port": 5000,
    "mongoURL": "mongodb+srv://icon:icon@cluster0.lxbojvg.mongodb.net/?retryWrites=true&w=majority",
    "salt": 9,
    "accessTokenPrivateKey": "ACCESS_TOKEN_PRIVATE_KEY",
    "refreshTokenPrivateKey": "REFRESH_TOKEN_PRIVATE_KEY'",
    "accessTokenExpiresIn": 20,
    "refreshTokenExpiresIn": 7,
    "clientURL": "http://localhost:3000",
    "debug": false
}